@model Senai.Chamados.Web.ViewModels.Chamado.ChamadoViewModel

@{
    ViewBag.Title = "Excluir";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>Excluir Chamado</h2>

@using (Html.BeginForm("Excluir", "Chamado", FormMethod.Post))
{
    @Html.HiddenFor(x => x.Id)

    @Html.AntiForgeryToken()

    <br /><br />
    <p>Você realmente deseja excluir o chamado @Model.Titulo</p>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Excluir</button>
}

